In [3]:
import numpy as np 
import pandas as pd 
import os

In [ ]:
# data collection
coffee = pd.read_csv('coffeeTruck.csv')

In [5]:
# view data
coffee

      Unnamed: 0  Location        Music  Price  Sales  Income  Cost  Profit
0              1      Park  Alternative     28     64    1792  1248     544
1              2  Business  Alternative     35     17     595   919    -324
2              3  Business  Alternative     35     22     770   954    -184
3              4      Park       HipHop     32     30     960  1010     -50
4              5      Park       HipHop     35     27     945   989     -44
...          ...       ...          ...    ...    ...     ...   ...     ...
2729        2720      Park       HipHop     32     52    1664  1164     500
2730        2721      Park       HipHop     28     52    1456  1164     292
2731        2722      Park       HipHop     32     46    1472  1122     350
2732        2723      Park       HipHop     28     76    2128  1332     796
2733        2724      Park       HipHop     32     44    1408  1108     300

[2734 rows x 8 columns]

In [6]:
# info
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2734 entries, 0 to 2733
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2734 non-null   int64
 1   Location    2734 non-null   object
 2   Music       2734 non-null   object
 3   Price       2734 non-null   int64
 4   Sales       2734 non-null   int64
 5   Income      2734 non-null   int64
 6   Cost        2734 non-null   int64
 7   Profit      2734 non-null   int64
dtypes: int64(6), object(2)
memory usage: 171.0+ KB

In [7]:
# list clumns
list(coffee)

['Unnamed: 0',
 'Location',
 'Music',
 'Price',
 'Sales',
 'Income',
 'Cost',
 'Profit']

#### 1. How many rows and coulumns?

In [8]:
# answers to questions (data handling)
coffee.shape

(2734, 8)

#### 2. List all variables

In [9]:
# list clumns
list(coffee)

['Unnamed: 0',
 'Location',
 'Music',
 'Price',
 'Sales',
 'Income',
 'Cost',
 'Profit']

#### 3. find unique values on 'Location' variable

In [ ]:
unique_loc = coffee['Location'].unique()

In [14]:
coffee['Location'].value_counts()

Location
Park        2244
CityHall     183
Business     165
Zoo          142
Name: count, dtype: int64

#### 3.1. How many unique locations?

#### 4. Subset the data to include only the observations of sale at the Zoo

In [19]:
coffee_sales = coffee.loc[coffee['Sales'] == 'Zoo', :]

In [20]:
coffee_sales

Empty DataFrame
Columns: [Unnamed: 0, Location, Music, Price, Sales, Income, Cost, Profit]
Index: []