In [ ]:
## handling data

In [1]:
import pandas as pd
import os

In [14]:
# check if file exist
file = 'RacingGameData.csv'

if os.path.exists(file):
    print('file exists')

else:
    print('file not found')

file exists

In [8]:
# collect data
racing = pd.read_csv('RacingGameData.csv')

In [9]:
racing

,Track,Engine,FinishTime,TopSpeedReached,TimeTo30,TimeTo60,CheckPoint1,CheckPoint2,CheckPoint3,CheckPoint2_66
0,ComplexTrack,Gauss,28.24,67.27,4.66,12.59,10.76,20.19,24.54,0
1,OvalTrack,Gauss,23.23,78.27,4.68,11.36,9.75,14.94,20.85,1
2,ComplexTrack,Gauss,30.57,68.47,4.65,12.39,11.00,20.95,26.61,0
3,ComplexTrack,Gauss,26.77,74.97,4.68,12.33,10.55,19.18,23.20,0
4,ComplexTrack,Nightingale,28.25,72.90,5.48,16.37,11.64,20.74,24.33,0
...,...,...,...,...,...,...,...,...,...,...
1355,OvalTrack,Bayes,27.64,66.59,4.27,22.19,9.94,18.80,25.46,0
1356,ComplexTrack,Nightingale,28.25,73.77,5.44,15.79,11.74,21.01,24.93,0
1357,ComplexTrack,Bayes,27.84,66.15,4.24,15.89,10.58,19.89,23.74,0
1358,ComplexTrack,Nightingale,29.24,66.37,5.50,16.67,11.55,20.76,25.20,0
1359,OvalTrack,Nightingale,24.18,73.95,5.44,14.53,7.04,10.35,12.98,1

In [15]:
## obtain list of variable names 
list(racing)

['Track',
 'Engine',
 'FinishTime',
 'TopSpeedReached',
 'TimeTo30',
 'TimeTo60',
 'CheckPoint1',
 'CheckPoint2',
 'CheckPoint3',
 'CheckPoint2_66']

In [16]:
## obtain the number of observations
## recall rows = 0 and columns = 1
racing.shape[0]

1360

In [17]:
## number of columns
racing.shape[1]

10

In [19]:
## the data types of each column
racing.dtypes

Track               object
Engine              object
FinishTime         float64
TopSpeedReached    float64
TimeTo30           float64
TimeTo60           float64
CheckPoint1        float64
CheckPoint2        float64
CheckPoint3        float64
CheckPoint2_66       int64
dtype: object

In [20]:
## get info about the data
racing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360 entries, 0 to 1359
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Track            1360 non-null   object
 1   Engine           1360 non-null   object
 2   FinishTime       1360 non-null   float64
 3   TopSpeedReached  1360 non-null   float64
 4   TimeTo30         1360 non-null   float64
 5   TimeTo60         1360 non-null   float64
 6   CheckPoint1      1360 non-null   float64
 7   CheckPoint2      1360 non-null   float64
 8   CheckPoint3      1360 non-null   float64
 9   CheckPoint2_66   1360 non-null   int64
dtypes: float64(7), int64(1), object(2)
memory usage: 106.4+ KB

In [25]:
## get single variable/column
tracks = racing['Track']

In [28]:
## show the unique values in racing track
tracks.unique()

array(['ComplexTrack', 'OvalTrack', 'StraightTrack'], dtype=object)

In [29]:
## extract row 5 of the data
racing.iloc[4]

Track              ComplexTrack
Engine              Nightingale
FinishTime                28.25
TopSpeedReached            72.9
TimeTo30                   5.48
TimeTo60                  16.37
CheckPoint1               11.64
CheckPoint2               20.74
CheckPoint3               24.33
CheckPoint2_66                0
Name: 4, dtype: object

In [30]:
## extracting multiple rows
racing.iloc[[4, 6, 9]]

,Track,Engine,FinishTime,TopSpeedReached,TimeTo30,TimeTo60,CheckPoint1,CheckPoint2,CheckPoint3,CheckPoint2_66
4,ComplexTrack,Nightingale,28.25,72.90,5.48,16.37,11.64,20.74,24.33,0
6,OvalTrack,Nightingale,23.98,76.37,5.45,14.50,6.98,10.26,12.90,1
9,StraightTrack,Nightingale,18.46,68.64,5.42,15.08,8.32,12.52,15.91,0

In [34]:
## subset the dataset to only contail the races on the 'Ova
racing_oval = racing.loc[racing['Track'] == 'OvalTrack', :]

In [35]:
racing_oval

,Track,Engine,FinishTime,TopSpeedReached,TimeTo30,TimeTo60,CheckPoint1,CheckPoint2,CheckPoint3,CheckPoint2_66
1,OvalTrack,Gauss,23.23,78.27,4.68,11.36,9.75,14.94,20.85,1
5,OvalTrack,Bayes,24.08,69.21,4.32,13.60,9.75,15.67,22.02,1
6,OvalTrack,Nightingale,23.98,76.37,5.45,14.50,6.98,10.26,12.90,1
11,OvalTrack,Gauss,28.97,71.35,3.81,8.79,8.82,18.34,26.75,1
14,OvalTrack,Nightingale,25.64,74.88,6.86,16.47,12.00,18.10,23.72,0
...,...,...,...,...,...,...,...,...,...,...
1342,OvalTrack,Nightingale,26.28,69.18,5.44,14.85,10.61,16.66,23.73,1
1345,OvalTrack,Bayes,23.10,69.76,4.22,13.54,9.44,15.40,21.05,0
1352,OvalTrack,Gauss,24.02,68.58,4.64,11.32,9.83,15.14,21.49,1
1355,OvalTrack,Bayes,27.64,66.59,4.27,22.19,9.94,18.80,25.46,0
1359,OvalTrack,Nightingale,24.18,73.95,5.44,14.53,7.04,10.35,12.98,1

In [33]:
tr = ['StraightTrack', 'OvalTrack']
racing_oval_staight = racing.loc[racing['Track'].isin(tr), :]