In [ ]:
## Exploratory Data Analysis

In [3]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
## import data
animals = pd.read_csv('super-animals.csv')

In [6]:
animals

,Number,Animal,Category,Species,Age,Weight,Size,Speed,Vulnerability,Updated
0,1,White headed vulture,Savanna,Bird,20.0,4.7,85.0,48.0,1,No
1,2,Secretarybird,Savanna,Bird,12.0,4.0,152.0,65.0,2,Yes
2,3,Kudu,Savanna,Mammal,15.0,227.0,240.0,70.0,4,Yes
3,4,Blue wildebeest,Savanna,Mammal,20.0,250.0,240.0,80.0,4,No
4,5,Giraffe,Savanna,Mammal,25.0,828.0,505.0,56.0,4,No
...,...,...,...,...,...,...,...,...,...,...
103,104,Atlantic herring,Ocean,Fish,20.0,1.0,39.0,4.0,4,Yes
104,105,Cusk eel,Ocean,Fish,30.0,25.0,200.0,4.0,4,No
105,106,Oyster toadfish,Ocean,Fish,8.0,0.6,38.0,9.0,4,No
106,107,Cape rock lobster,Ocean,Crustacean,50.0,5.0,46.0,18.0,4,No
107,108,Bottlenose dolphin,Ocean,Mammal,35.0,300.0,400.0,35.0,4,No